.student-information-container {
    width: 350px;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.6em;
    padding: 2em 0.7em;
}

.student-advisors-container {
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.6em;
    padding: 2em 2em;
    color: white;
    overflow: auto;
}

.student-advisors-container ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.student-advisors-container ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.student-advisors-container ul li p {
    font-size: 0.85em;
    color: #ADADAD;
}

.student-advisors-container ul li div {
    cursor: pointer;
}

.student-advisors-container .check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.student-information-container .matriculation {
    padding: 1.1em 1.3em;
    text-align: center;
    letter-spacing: 0.415em;
    border-radius: 22px;
}

.student-information-container .name-and-surname-container {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.student-information-container .input-container .input-text {
    text-align: end;
}

.student-information-container .name-and-surname-container .name-surname-btn {
    right: 0;
    left: 15px;
    width: 80px;
    border-radius: 14px;
    cursor: unset;
}

.student-information-container .name-and-surname-container .name-surname-btn p {
    color: #E6E6E6;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.choose-student-advisor {
    margin-top: 1.5em;
    height: 50px;
    width: 75%;
    cursor: pointer;
    color: #E6E6E6;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

.choose-student-advisor:active {
    background: linear-gradient(145deg, #555555, #474747);
    box-shadow:  2px 2px 1px #3a3a3a, -2px -2px 1px #646464;
}

.back-btn {
    position: absolute;
    left: 3em;
    top: 3em;
    padding: 1em;
}

.back-btn:active {
    background: linear-gradient(145deg, #555555, #474747);
    box-shadow:  2px 2px 1px #3a3a3a, -2px -2px 1px #646464;
}
