.main-container {
    margin-left: 10em;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.error {
    font-weight: normal;
    margin: 0.5em 0 0 0.3em;
    font-size: 0.9em;
    color: red;
}

.main-container h4 {
    font-size: 1.5em;
    color: #E6E6E6;
}

.main-container .input-container {
    position: relative;
    width: 280px;
    height: 45px;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.main-container .input-container .btn img {
    transition: all 150ms ease-in-out;
    transform: scale(0.8);
}

.inside-neuro {
    background: #4F4F4F;
    box-shadow: inset 3px 3px 5px #2b2b2b, inset -3px -3px 5px #737373;
    border-radius: 18px;
}

.outside-neuro {
    background: linear-gradient(145deg, #555555, #474747);
    box-shadow:  5px 5px 4px #3a3a3a, -5px -5px 4px #646464;
    border-radius: 18px;
}

.inside-neuro.dark {
    background: #202020;
    box-shadow: inset 5px 5px 4px #0d0d0d, inset -5px -5px 4px #333333;
    border-radius: 18px;
}

.outside-neuro.dark {
    background: linear-gradient(145deg, #222222, #1d1d1d);
    box-shadow:  5px 5px 4px #171717, -5px -5px 4px #292929;
    border-radius: 18px;
}

.neuro-divider {
    background: #4F4F4F;
    box-shadow: 1px 1px 2px rgba(126, 126, 126, 0.3), -1px -1px 2px rgba(32, 32, 32, 0.5), inset -35px 35px 70px rgba(32, 32, 32, 0.2), inset 35px -35px 70px rgba(32, 32, 32, 0.2), inset -35px -35px 70px rgba(126, 126, 126, 0.9), inset 35px 35px 88px rgba(32, 32, 32, 0.9);
    height: 1px;
    width: 50%;
}

.input-text {
    color: #7A7A7A;
    letter-spacing: 0.11em;
    font-size: 0.95em;
    font-weight: bold;
}

.input-text.dark {
    color: #E6E6E6;
}

.disable-input-style {
    -webkit-appearance: none;
    border: none;
    outline: none;
}

.input-container input {
    height: 100%;
    width: 100%;
    padding: 0.7em 1.7em;
}

.main-container .input-container .btn {
    position: absolute;
    right: 15px;
    top: -1px;
    width: 47px;
    height: 47px;
    border-radius: 100%;
    background: linear-gradient(135deg, #535353 0%, #4B4B4B 100%);
    box-shadow: -2px 2px 4px rgba(32, 32, 32, 0.2), 2px -2px 4px rgba(32, 32, 32, 0.2), -2px -2px 4px rgba(126, 126, 126, 0.9), 2px 2px 5px rgba(32, 32, 32, 0.9);
}

.main-container .input-container .btn:active {
    background: linear-gradient(145deg, #555555, #474747);
    box-shadow:  2px 2px 1px #3a3a3a, -2px -2px 1px #646464;
}
